<!DOCTYPE html>
<style type="text/css">
  form {
  margin: 0 auto;
  width: 1400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

  fieldset {
  margin-left: 0;
  width: 750px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  text-align: center;
}

input, textarea {
  vertical-align: top;
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 10em;
  width: 40em;
}

button {
  margin-left: .5em;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

</style>

<html>
<?php 
      $praetor = new Praetor();
  $sql = "SELECT * FROM algorithm WHERE AID=%s_AID";
  $data = $praetor->custosql($sql, array('AID'=>$_POST['AID']));
  $sql2 = "SELECT * FROM dataSet WHERE algorithmID=%d_algorithmID ORDER BY no desc";
  $dataSetData = $praetor->custosql($sql2, array('algorithmID'=>$data[0]['AID']));
  $sql3 = "SELECT * FROM Paremeter WHERE algorithmID=%d_algorithmID ORDER BY no desc";
  $paremeterData = $praetor->custosql($sql3, array('algorithmID'=>$data[0]['AID']));
    ?>

<div class="form-group">
  <form action="index.php?item=editMethod" method="post" enctype="multipart/form-data">
    <fieldset>
      <legend>程式名稱:</legend>
  <div>
                              <label for="issueinput1">簡寫:</label>
                              <input type="text" id="issueinput1" class="form-control" name="titleAbbre" placeholder="EX:Discourse" value="<?php echo $data[0]['Abbreviation'];?>">
                          </div>
                          <div>
                              <label for="issueinput5">全名:</label>
                              <input type="text" id="issueinput2" class="form-control" name="titleInfo" placeholder="EX:A Unified RvNN Framework for End-to-End Chinese Discourse Parsing" value="<?php echo $data[0]['AlgorithmTitle'];?>">
                          </div>
                          </fieldset>
                          <fieldset>
      <legend>作者/單位:</legend>
  <div>
                              <label for="issueinput1">作者英文名:</label>
                              <input type="text" id="issueinput3" class="form-control" name="authorName" placeholder="EX:Chuan-An Lin, Hen-Hsen Huang, Zi-Yuan Chen and Hsin-Hsi Chen" value="<?php echo $data[0]['authorName'];?>">
                          </div>
                          <div>
                              <label for="issueinput5">單位:</label>
                              <input type="text" id="issueinput4" class="form-control" name="authorUnit" placeholder="EX:台灣大學資訊工程系" value="<?php echo $data[0]['authorUnit'];?>">
                          </div>
                          </fieldset>
                          <fieldset>
      <legend>程式功能:</legend>
  <div>
                              <label for="issueinput1">英文:</label>
                              <input type="text" id="issueinput5" class="form-control" name="functionEnglish" placeholder="EX:Chinese discourse parser" value="<?php echo $data[0]['functionEnglish'];?>">
                          </div>
                          <div>
                              <label for="issueinput5">中文:</label>
                              <input type="text" id="issueinput6" class="form-control" name="functionChinese" placeholder="EX:中文語篇剖析器" value="<?php echo $data[0]['functionChinese'];?>">
                          </div>
                          </fieldset>
                          <fieldset>
      <legend>程式功能說明-文字描述(中英文皆可)</legend>
  <div>
    <textarea id="issueinput7" class="form-control" name="functionDescription"  rows="6" cols="40" placeholder=""><?php echo $data[0]['functionDescription'];?></textarea>
                          </div>
                         
                          </fieldset>
                          <fieldset>
      <legend>程式源碼:</legend>
  <div>
                              <input type="text" id="issueinput8" class="form-control" name="github" placeholder="EX:https://github.com/abccaba2000/discourse-parser" value="<?php echo $data[0]['GitHub'];?>">
                          </div>
                          </fieldset>
                          <fieldset>
      <legend>程式類別:</legend>
  <div>
                              <input type="text" id="issueinput9" class="form-control" name="classification" placeholder="EX:NLP, 遞迴類神經網路" value="<?php echo $data[0]['classification'];?>">
                          </div>
                          </fieldset>
                          <fieldset>
      <legend>執行程式所需要的資料集，語料庫等等的資源:</legend>
  <div class="dataSetForm">
    <button type="button" class="addDataSet" onclick="addData()">
+新增
</button>     
<div>
      <?php
      if ($dataSetData[0])
      {
        $n = 0;
                            while ($n <= $dataSetData[0]['no'])
                            {
      ?>
                            <table border="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333">
<tr>
<th bgcolor="grey" >名稱</th>
<th bgcolor="grey" >連結</th>
<th bgcolor="grey" >收費</th>
</tr>
<tr>
  <td bgcolor="#FFFFFF" align="left" nowrap><input type="text" id="issueinput1" class="form-control" name="dataSetName'.$number.'" placeholder="EX:WordNet" value=" "></td>
<td bgcolor="#FFFFFF" align="left" nowrap><input type="text" id="issueinput1" class="form-control" name="dataSetURL'.$number.'" placeholder="EX:https://wordnet.princeton.edu/" value="<?php echo $dataSetData[$n]['url'];?>"></td>
<td bgcolor="#FFFFFF" align="left" nowrap><input type="text" id="issueinput1" class="form-control" name="dataSetFee'.$number.'" placeholder="EX:免費" value="<?php echo $dataSetData[$n]['fee'];?>"></td>

</tr>

</table>
<?php
  $n = $n + 1;
                      }
                    }
                      ?>
                          </div>
 

                          </div>
                          
                          </fieldset>
                          <fieldset>
      <legend>執行程式所需要的系統環境及套件:</legend>
  <div>
                              <label for="issueinput10">系統環境:</label>
                              <input type="text" id="issueinput10" class="form-control" name="systemEnvironment" placeholder="EX:Windows/Linux" value="<?php echo $data[0]['systemEnvironment'];?>">
                            </div>
                            <div>
                              <label for="issueinput5">套件:</label>
                              <input type="text" id="issueinput11" class="form-control" name="package" placeholder="EX:Python, Tensorflow, Standford Chinese Parser" value="<?php echo $data[0]['package'];?>">
                          </div>
                          </fieldset>
                          <fieldset class="allowInput">
      <legend>程式是否可以接受輸入檔，將結果儲存至輸出檔:</legend>
  <div>
                              <input type='radio' name='acceptInput' class="acceptInput" style="margin:5px; width: 10px;" value='0'>是
                              <input type='radio' name='acceptInput' class="acceptInput" style="margin:5px; width: 10px;" value='-1' checked>否(結束)
                          </div>
                          </fieldset>
                          <fieldset class="inputAllowed">
      <legend>程式接受的輸入/輸出格式:</legend>
  <div>
                            <label for="input">輸入格式:</label>
                <select id="inputFormat" name="inputFormat" class="format">
                  <option value="">請選擇</option>
                  <option value="文件-純文字格式" selected>文件-純文字格式</option>
                </select>
                          </div>
                          <div>
                            <label for="output">輸出格式:</label>
                <select id="outputFormat" name="outputFormat" class="format">
                  <option value="">請選擇</option>
                  <option value="樹狀結構-HTML格式">樹狀結構-HTML格式</option>
                </select>
                          </div>
                          </fieldset>
                          <fieldset class="inputAllowed allowParemeter">
      <legend>程式在被執行時是否需要輸入參數:</legend>
  <div>
                              <input type='radio' name='acceptParemeter' id="acceptParemeter" style="margin:5px; width: 10px;" value="0">要
                              <input type='radio' name='acceptParemeter' id="acceptParemeter" style="margin:5px;width: 10px;" value="1" checked>不要(結束)
                          </div>
                          </fieldset>
                          <fieldset  class="inputAllowed paremeterAllowed">
      <legend>參數的功能說明以及參數是否是有範圍(Range):</legend>
  <div class="paremeterForm">
    <button type="button" class="addParemeter">
+新增
</button>   
<div>
                        <?php 
                        if ($paremeterData[0])
                        {
        $n = 0;
        while ($n <= $paremeterData[0]['no'])
        {
      ?>
                            <table border="1" width="500" cellspacing="0" cellpadding="5" bordercolor="#333333">
<tr>
<th bgcolor="grey" >參數名稱</th>
<th bgcolor="grey" >範圍</th>
<th bgcolor="grey" >格式</th>
<th bgcolor="grey" >功能說明</th>
</tr>
<tr>
  <td bgcolor="#FFFFFF" align="left" nowrap><input type="text" id="issueinput1" class="form-control" name="<?php echo 'paremeterName'.$n;?>" placeholder="EX:-r" value="<?php echo $paremeterData[$n]['paremeter'];?>"></td>
<td bgcolor="#FFFFFF" align="left" nowrap><input type="text" id="issueinput1" class="form-control" name="<?php echo 'paremeterRange'.$n;?>" placeholder="EX:0~100" value="<?php echo $paremeterData[$n]['paremeterRange'];?>"></td>
<td bgcolor="#FFFFFF" align="left" nowrap><input type="text" id="issueinput1" class="form-control" name="<?php echo 'paremeterFormat'.$n;?>" placeholder="EX:-r:50" value="<?php echo $paremeterData[$n]['format'];?>"></td>
<td bgcolor="#FFFFFF" align="left" nowrap><input type="text" id="issueinput1" class="form-control" name="<?php echo 'paremeterDescription'.$n;?>" placeholder="EX:調整樹的深度" value="<?php echo $paremeterData[$n]['function'];?>"></td>

</tr>

</table>
<?php
  $n = $n + 1;
}
}
?>
                          </div>                           
                           </div>                
                          </fieldset>
                          <div>
                            <input type="hidden" class="aid" name="aid" value="<?php echo $data[0]['AID'];?>">
                            <input type="hidden" name="licenseKey" value="<?php echo $data[0]['LicenseKey'];?>">
                          <button type="submit" class="button">
                  <i class="add button"></i> Save
              </button>
            </div>

                      </form>
</div>
</html>
<?php $a = 0; ?>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript"> var jQuery_1_5_1 = $.noConflict(true); </script>
  <!--for search select-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script>
    $(document).ready(function(){
      $(".inputAllowed").hide();
      $(".paremeterAllowed").hide();
    })
      
    $(".allowInput").change(function (){
      var elements = document.getElementsByName( "acceptParemeter" );

      $(".inputAllowed").toggle();
      elements[0].checked = false;
      elements[1].checked = true;
      $(".paremeterAllowed").hide();
      });
    $(".allowParemeter").change(function (){
      $(".paremeterAllowed").toggle();
      });
   
    $(".addDataSet").click(function(e){ // make sure the image is click
        $.ajax({
          type: "POST",
          url: "model/editDataSet.php",
          data: "AID="+$(".aid").val(),
          restful:true,
          cache:false,
          success: function(data){
            $(".dataSetForm").append(data);
          },
          error: function (error) {
            alert('error');
          }
          
        });
    });

    $(".addParemeter").click(function(e){ // make sure the image is click
        $.ajax({
          type: "POST",
          url: "model/editParemeter.php",
          data: "AID="+$(".aid").val(),
          restful:true,
          cache:false,
          success: function(data){
            $(".paremeterForm").append(data);
          },
          error: function (error) {
            alert('error');
          }
          
        });
    });

    
    </script>