<!DOCTYPE html>
<style type="text/css">
	form {
  margin: 0 auto;
  width: 800px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

  fieldset {
  margin-left: 0;
  width: 750px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  display: inline-block;
  text-align: center;
}

input, textarea {
  vertical-align: top;
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

button {
  margin-left: .5em;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

</style>

<html>
<div class="form-group">
	<form action="index.php?item=addNewMethod" method="post" enctype="multipart/form-data">
    <fieldset>
      <legend>程式名稱:</legend>
	<div>
                              <label for="issueinput1">簡寫:</label>
                              <input type="text" id="issueinput1" class="form-control" name="titleInfo" placeholder="EX:Discourse">
                          </div>
                          <div>
                              <label for="issueinput5">全名:</label>
                              <input type="text" id="issueinput5" class="form-control" name="titleAbbre" placeholder="EX:A Unified RvNN Framework for End-to-End Chinese Discourse Parsing">
                          </div>
                          </fieldset>
                          <fieldset>
      <legend>作者/單位:</legend>
  <div>
                              <label for="issueinput1">作者英文名:</label>
                              <input type="text" id="issueinput1" class="form-control" name="titleInfo" placeholder="EX:Chuan-An Lin, Hen-Hsen Huang, Zi-Yuan Chen and Hsin-Hsi Chen">
                          </div>
                          <div>
                              <label for="issueinput5">單位:</label>
                              <input type="text" id="issueinput5" class="form-control" name="titleAbbre" placeholder="EX:台灣大學資訊工程系">
                          </div>
                          </fieldset>
                          <fieldset>
      <legend>程式功能:</legend>
  <div>
                              <label for="issueinput1">英文:</label>
                              <input type="text" id="issueinput1" class="form-control" name="titleInfo" placeholder="EX:Chinese discourse parser">
                          </div>
                          <div>
                              <label for="issueinput5">中文:</label>
                              <input type="text" id="issueinput5" class="form-control" name="titleAbbre" placeholder="EX:中文語篇剖析器">
                          </div>
                          </fieldset>
                          <fieldset>
      <legend>程式功能說明-文字描述(中英文皆可)</legend>
  <div>
    <textarea id="issueinput1" class="form-control" name="titleInfo"  rows="6" cols="40" placeholder=""></textarea>
                          </div>
                         
                          </fieldset>
                          <fieldset>
      <legend>程式源碼:</legend>
  <div>
                              <input type="text" id="issueinput1" class="form-control" name="titleInfo" placeholder="https://github.com/abccaba2000/discourse-parser">
                          </div>
                          </fieldset>
                          <fieldset>
      <legend>程式類別:</legend>
  <div>
                              <input type="text" id="issueinput1" class="form-control" name="titleInfo" placeholder="NLP, 地回類神經網路">
                          </div>
                          </fieldset>
                          <fieldset>
      <legend>執行程式所需要的資料集，語料庫等等的資源:</legend>
  <div>
    <button type="button" class="addDataSet">
+新增
</button>                     
                          </div>
                          </fieldset>
                          <fieldset>
      <legend>執行程式所需要的系統環境及套件:</legend>
  <div>
                              <label for="issueinput5">系統環境:</label>
                              <input type="text" id="issueinput1" class="form-control" name="titleInfo" placeholder="EX:Windows/Linux">
                            </div>
                            <div>
                              <label for="issueinput5">套件:</label>
                              <input type="text" id="issueinput1" class="form-control" name="titleInfo" placeholder="EX:Python, Tensorflow, Standford Chinese Parser">
                          </div>
                          </fieldset>
                          <fieldset class="allowInput">
      <legend>程式是否可以接受輸入檔，將結果儲存至輸出檔:</legend>
  <div>
                              <input type='radio' name='acceptInput' class="acceptInput" style="margin:5px; width: 10px;" value='0'>是
                              <input type='radio' name='acceptInput' class="acceptInput" style="margin:5px; width: 10px;" value='-1' checked>否(結束)
                          </div>
                          </fieldset>
                          <fieldset class="inputAllowed">
      <legend>程式接受的輸入/輸出格式:</legend>
  <div>
                            <label for="input">輸入格式:</label>
                <select id="inputFormat" name="inputFormat" class="format">
                  <option value="">請選擇</option>
                  <option value="">文件-純文字格式</option>
                </select>
                          </div>
                          <div>
                            <label for="output">輸出格式:</label>
                <select id="outputFormat" name="outputFormat" class="format">
                  <option value="">請選擇</option>
                  <option value="">樹狀結構-HTML格式</option>
                </select>
                          </div>
                          </fieldset>
                          <fieldset class="inputAllowed allowParemeter">
      <legend>程式在被執行時是否需要輸入參數:</legend>
  <div>
                              <input type='radio' name='acceptParemeter' id="acceptParemeter" style="margin:5px; width: 10px;" value="0">要
                              <input type='radio' name='acceptParemeter' id="acceptParemeter" style="margin:5px;width: 10px;" value="1" checked>不要(結束)
                          </div>
                          </fieldset>
                          <fieldset  class="inputAllowed paremeterAllowed">
      <legend>參數的功能說明以及參數是否是有範圍(Range):</legend>
  <div>
    <button type="button" class="addParemeter">
+新增
</button>                      
                           </div>                
                          </fieldset>
                          <div>
                          <button type="submit" class="button">
                  <i class="add button"></i> Save
              </button>
            </div>

                      </form>
</div>
</html>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
    <script type="text/javascript"> var jQuery_1_5_1 = $.noConflict(true); </script>
  <!--for search select-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script>
    $(document).ready(function(){
      $(".inputAllowed").hide();
      $(".paremeterAllowed").hide();
    })
      
    $(".allowInput").change(function (){
      var elements = document.getElementsByName( "acceptParemeter" );
      $(".inputAllowed").toggle();
      elements[0].checked = false;
      elements[1].checked = true;
      $(".paremeterAllowed").hide();
      });
    $(".allowParemeter").change(function (){
      $(".paremeterAllowed").toggle();
      });

    </script>